body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#portal {
    top: 0;
    left: 0;
    position: absolute;
}